@page "/"
@rendermode InteractiveServer
@using GameLibrary.Shared.DTOs
@using GameLibrary.Shared.Enums
@inject GameLibraryFrontend.Services.GameClient GameClient

<PageTitle>Home</PageTitle>

<h2>Add Form</h2>
<EditForm Model="model" OnValidSubmit="SendRequest">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="model.Title" />
    <InputSelect @bind-Value="model.Status">
        @foreach (var status in Enum.GetValues<GameStatus>())
        {
            <option value="@status">@status</option>
        }
    </InputSelect>
    <InputNumber @bind-Value="model.Rating" />
    <div>
        <label>Platforms</label>
        @foreach (var platform in Enum.GetValues<GamePlatform>())
        {
            <label>
                <input type="checkbox"
                       checked="@selectedPlatforms.Contains(platform)"
                       @onchange="e => TogglePlatform(platform, (bool)e.Value!)" />
                @platform
            </label>
        }
    </div>
    

    <button type="submit">Add</button>
</EditForm>


<h2>Game List</h2>
<ul>
@foreach(var game in games)
{
    <li @key="game.Id">@game.Title | @game.Status | @game.Rating 
        <button @onclick="async () => { await DeleteGame(game.Id); }">Delete</button>
    </li>
}
</ul>

@code {
    private List<GameResponseDto> games = [];

    private CreateGameDto model = new();
    private List<GamePlatform> selectedPlatforms = [];

    protected override async Task OnInitializedAsync()
    {
        await UpdateGameList();
    }

    private async Task UpdateGameList() {
        games = (await GameClient.GetGamesAsync()) ?? [];
    }
    private async Task SendRequest() {
        try {
            model.Platforms = selectedPlatforms.ToArray();
            var result = await GameClient.CreateGameAsync(model);
            await UpdateGameList();
        }
        catch {

        }
    }

    private async Task DeleteGame(string gameId) {
        try {
            await GameClient.DeleteAsync(gameId);
            await UpdateGameList();
        } catch {
        }
    }

    private void TogglePlatform(GamePlatform platform, bool isChecked)
    {
        if (isChecked)
        {
            if (!selectedPlatforms.Contains(platform)) selectedPlatforms.Add(platform);
        }
        else
        {
            selectedPlatforms.Remove(platform);
        }
    }
}

